@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.home-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.nav-links {
    position: fixed;
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 40px;
    overflow: hidden;
}

.nav-links a {
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}


.burger {
    display: none;
}

.landing {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.big-title {
    width: 40%;
    color: white;
    font-size: 80px;
    font-family: "Abril Fatface", cursive;
    font-weight: 100;
}

.delivery-link {
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    width: 70px;
    justify-content: space-between;
    overflow: hidden;
}

.scroll-text {
    color: white;
    position: relative;
    transition: transform 0.4s;
}




.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #ADD981;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}




@media (max-width: 1150px) {

    .header {
        position: fixed;
        justify-content: space-between;
    }

    .burger-container {
        float: right;
        width: 35px;
        height: 30px;
        position: relative;
    }

    .burger {
        float: right;
        display: block;
        height: 3px;
        width: 30px;
        background: white;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: background 0.4s;
    }

    .burger-container.active .burger {
        background: transparent;
    }

    .burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        bottom: 8px;
        transition: transform 0.4s,
            bottom 0.4s,
            background 0.4s;
    }

    .burger-container.active .burger::before {
        bottom: 0;
        transform: rotate(-45deg);
        background: black;
    }

    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 8px;
        transition: transform 0.4s,
            top 0.4s background 0.4s;
    }

    .burger-container.active .burger::after {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }

    .nav-links {
        position: absolute;
        width: 100%;
        height: 50vh;
        background: white;
        left: 0;
        top: -50vh;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 50px;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 30px;
    }

    .delivery-container {
        flex-direction: column;
        justify-content: center;
        padding: 50px;
    }

    .delivery-container div {
        margin: 30px;
    }

    .grid-plants {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid {
        flex: 1;
        min-width: 350px;
        height: 500px;
    }
}

