/* ******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
****************************** PROJET SOUS LICENCE DE DROIT D'AUTEUR ************************************************************************************************************************************************************************************************************************************************************************************************************
****************************** TOUTE COPIE DU SITE SERA PÉNALEMENT SANCTIONNÉ   *************************************************************************************************************************************************************************************************************************************************************************************************
*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************* */

html,
body {
  height: 100%;
  margin: 0;
}

a,
a:hover,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.background {
  filter: blur(10px);
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background: url(img/mont-blanc-mountain.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#firefly {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socialitem {
  padding: 30px;
}

.socialitem {
  height: auto;
  width: 30px;
  filter: invert(1);
  transition: transform 0.2s ease-in;
}

.socialitem:hover {
  transform: scale(1.1);
}

.logo {
  height: 80px;
  width: 80px;
}

.logo2 {
  animation: fadeIn ease 1s;
}

.texte {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: white;
  animation: fadeIn ease 1s;
  font-family: "Courier", monospace;
}

.mail {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  animation: fadeIn ease 1s;
  color: white;
  filter: invert(1);
  transition: transform 0.2s ease-in;
  font-family: "Palatino, URW Palladio L,", serif;
}

.mail:hover{ 
transform: scale(1.1);
 }
.subtitle {
  margin-top: 30px;
  font-size: 1.3em;
  text-align: center;
  animation: fadeIn ease 1s;
  color: white;
  font-family: "Courier", monospace;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 40px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #acacac, #747474);
  box-shadow: 0 3px 3px -5px #acacac, 0 2px 5px #c9c9c9;
  border-radius: 20px;
  color: #fff;
  display: flex;
  font-family: "Montserrat Regular", serif;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

